<nav class="navbar navbar-expand fixed-top shadow">
    <div class="container">
        <a class="navbar-brand" href="#">Examee</a>
        <ul class="navbar-nav">
            <ng-container *ngIf="accountService.currentUser$ | async">
                <li *appHasRole="['Admin']" class="nav-item">
                    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="logout()">Exit <i class="fa-solid fa-right-from-bracket"></i></a>
                </li>
            </ng-container>
            <ng-container *ngIf="!(accountService.currentUser$ | async)">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up</a>
                </li>
            </ng-container>
        </ul>
    </div>
</nav>
