<div class="container">
    <div *ngIf="user">
        <div *appHasRole="['Professor']">
            <ng-container *ngIf="selectState">      <!-- Select -->
                <div class="upload-area"
                     (drop)="onFileSelected($event.dataTransfer?.files?.[0] || null)"
                     (dragover)="preventDefault($event)"
                     (dragleave)="preventDefault($event)">
                    <ng-container *ngIf="!selectedFile">
                        <input type="file"
                               hidden
                               #fileInput
                               accept=".dll"
                               (change)="onFileSelected(fileInput.files?.[0] || null)"/>
                        <p style="color: darkslategray;">Drag & Drop</p>
                        <button mat-raised-button style="background-color: rgb(255, 209, 145);" (click)="fileInput.click()" (click)="processStarted()">Select File</button>
                    </ng-container>
                    <ng-container *ngIf="selectedFile">
                        <p>File selected: {{ selectedFile.name }}</p>
                        <form [formGroup]="genForm" id="msform" autocomplete="off">
                            <div class="row justify-content-center" style="padding-left: 15px; padding-right: 15px;">
                                <div class="col-6">
                                    <app-text-input [formControl]="$any(genForm.controls['copies'])" [label]="'Copies'" [type]="'text'"></app-text-input>
                                </div>
                            </div>
                            <button mat-raised-button style="background-color: rgb(255, 209, 145);" [disabled]="!genForm.valid" (click)="generateExams()">Generate Exams</button>
                        </form>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="!selectState">
                <ng-container *ngIf="generateState">    <!-- Generate State -->
                    <div class="upload-area">
                        <p>Generating...</p>
                    </div>
                </ng-container>
                <ng-container *ngIf="!generateState">    <!-- Save & Download State -->
                    <div class="upload-area">
                        <ng-container *ngIf="saveDownloadState">
                            <ng-container *ngIf="!fileUploadedState">
                                <p>Exams where generated successfully</p>
                                <div class="row justify-content-center d-flex">
                                    <div class="col-6">
                                        <button mat-raised-button
                                                style="background-color: rgb(255, 209, 145);"
                                                (click)="uploadFile()"
                                                (click)="processEnded()">Upload</button>
                                    </div>
                                    <div class="col-6">
                                        <button mat-raised-button
                                                style="background-color: rgb(255, 209, 145);"
                                                (click)="onDownloadPdf()"
                                                (click)="processEnded()">Download</button>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="fileUploadedState">
                                <p>Exam was uploaded successfully to user's profile!</p>
                                <div class="row justify-content-center d-flex">
                                    <div class="col-6">
                                        <button mat-raised-button
                                                style="background-color: rgb(255, 209, 145);"
                                                disabled
                                                (click)="uploadFile()">Upload</button>
                                    </div>
                                    <div class="col-6">
                                        <button mat-raised-button
                                                style="background-color: rgb(255, 209, 145);"
                                                (click)="onDownloadPdf()"
                                                (click)="processEnded()">Download</button>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="!saveDownloadState">
                            <p>Problem generating exams.</p>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div *appHasRole="['Student']">
            <div class="upload-area" style="color:darkslategray;">
                <h3>Only professors can create exams!</h3>
            </div>
        </div>
        <div *appHasRole="['Admin']">
            <div class="upload-area" style="color:darkslategray;">
                <h3>Admins can not use the service.</h3>
            </div>
        </div>
    </div>
    <div *ngIf="!user">
        <div class="upload-area" style="color:darkslategray;">
            <h3>In order to use our platform you<br>have to create an account.</h3>
            <div class="justify-content-center">
                <button class="btn">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up</a>
                </button>
            </div>
        </div>
    </div>
</div>