<footer class="text-center mt-4">
    <div class="pt-3">
        <h4 class="mb-0 pb-0">Connect with us</h4>
    </div>
    <div class="container p-2">
        <section class="">
            <a class="btn btn-outline-dark m-1 facebookIcon" href="https://www.facebook.com/stefanos.rigo/" role="button"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-outline-dark m-1 instagramIcon" href="https://www.instagram.com/stefanos_rigo/" role="button"><i class="fa fa-instagram"></i></a>
            <a class="btn btn-outline-dark m-1 twitterIcon" href="https://twitter.com/CaptainKamora/" role="button"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-outline-dark m-1 linkedInIcon" href="https://www.linkedin.com/in/stefanos-rigopoulos-a0024a257/" role="button"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-outline-dark m-1 gitHubIcon" href="https://github.com/StefanosRigopoulos/" role="button"><i class="fa fa-github"></i></a>
        </section>
    </div>
    <div class="text-center p-2">
        <h5>©2024 • <a href="#">Examee.gr</a> • All Rights Reserved.</h5>
    </div>
</footer>