<div class="card" *ngIf="exam">
    <form [formGroup]="genForm" id="msform" autocomplete="off">
        <div class="card-body">
            <i class="fa-solid fa-file-lines fa-5x" style="color: darkslategray;"></i>
            <h3 style="color: darkslategray;"><strong>{{exam.examName}}</strong></h3>
            <hr>
            <ng-container *ngIf="!process">     <!-- Before Generation -->
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                        <app-text-input [formControl]="$any(genForm.controls['copies'])"
                                        [label]="'Copies'"
                                        [type]="'text'"></app-text-input>
                    </div>
                    <div class="col-3"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <button mat-raised-button
                                style="background-color: rgb(255, 209, 145);"
                                [disabled]="!genForm.valid"
                                (click)="generateExams()">Generate</button>
                    </div>
                    <div class="col-6">
                        <button mat-raised-button
                                style="background-color: rgb(255, 209, 145); color: darkslategray;"
                                (click)="deleteExam()"><i class="fa-solid fa-trash-can fa-2x"></i>
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="process">      <!-- After Generation -->
                <p>Exams where successfully generated!</p>
                <hr>
                    <button mat-raised-button
                            style="background-color: rgb(255, 209, 145);"
                            (click)="onDownloadPdf()"
                            (click)="processEnded()">Download</button>
            </ng-container>
        </div>
    </form>
</div>
<div class="card" *ngIf="!exam">
    <div class="card-body">
        <i class="fa-solid fa-x fa-5x"></i>
        <h3>No Exams Present</h3>
    </div>
</div>